@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family:"Roboto", sans-serif; 
  box-sizing: border-box;
  
}
 .container{
    padding: 12px; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
 }


 .card  img {
  width: 200px;
  height: 200px;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start; 
  border-radius: 20px 20px 20px 20px;
  object-fit: cover;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 10px;
  margin-inline-end: 10px;
}
.add-to-cart-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid
}
.title{
  text-align: center;
  padding: 10px;
}
.shopping-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shopping-cart * {
margin: 2px 0px;

}